# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.venv/
env/
.env

plans/
tests_new/
python_scripts/

#c files
*.o
*.out
*.a
*.so
*.exe
*.elf
*.debug.o

# Build directories (common names)
build/
bin/
.env.dev
.env.prod
.env.test
# VS Code
.vscode/
start_api.sh
start_worker.sh
start_frontend.sh